#header {
	position: absolute;
	display:block;	
	width: 100%;
	height:10%;
}

#content {
	position: absolute;
	width: 100%;
	height:100%;
}

#chat {
	display:block;
	overflow: auto;
	height:85%;
	background-color: rgb(240,220,220);
}

#inputContainer {
	display:block;
	overflow: auto;
	height:15%;
	background-color: rgb(200,200,220);	
}

.textContainer {
	display:block;	
	width: 100%;
}

.text {
	background-color: white;
	border-radius: 6px;
	max-width: 40%;
	margin-top: 20px;
	margin: 5px;
	position: relative;
	padding: 10px;
	clear: both;
	word-wrap: break-word;
}

.user {	
	left: 2%;
	float: left;
}

.bot {
	right: 2%;
	float: right;
}

#input {
	position: relative;
	width: 90%;
	margin-left: 1%;
	margin-top: 1%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	resize: none;
	overflow: hidden;
	font-size: 1em;
	border-radius: 4px;
}

body { 
	font-size: 2em;
	overflow: hidden;
}

/*@media only screen and (max-width: 540px) {

   body { font-size: 2em; }

}*/